<!DOCTYPE html>
<html lang="en">

  <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>MyEpsi </title>

        <!--************* Bootstrap core CSS *************-->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!--************* Plugin CSS *************-->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!--************* Custom styles *************-->
        <link href="css/creative.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body id="page-top">

    <!-- *************************************** Navigation *************************************** -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img class="light-logo" src="../img/logo.png" width="50" height="50" alt=""> MyEpsi
       </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Découvrir le campus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">je suis un candidat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">L'epsi en 360°</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Vue d'extérieur</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>EPSI : École Privée des Sciences Informatiques</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">l'excellence depuis 1961</p>
            <a id="discoverBut" class="btn btn-primary btn-xl js-scroll-trigger" href="#about">DÉCOUVRIR LE CAMPUS</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">HEP CAMPUS PARIS – LA DÉFENSE : UN CAMPUS AU CŒUR D’UN PÔLE D’EXCEPTION</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">L’EPSI autrefois installé à Levallois-Perret (92), a rejoint depuis la rentrée 2018 le campus HEP au cœur de la Défense. Véritable centre économique à 20 minutes du centre de Paris, la Défense dispose également de nombreux services notamment une multitude d’entreprises installés permettant aux étudiants de préparer au mieux leur insertion dans le monde professionnel (stages, apprentissage…).
                                          Le campus, fonctionnel et dynamique, permet sur une surface de 4500m2 d’accueillir 2000 étudiants sur 5 étages issus de 10 écoles (Ecole 3A, IDRAC Business School, IEFT, IFAG, ILERI, SUP’DE COM, EPSI, IGEFI, IHEDREA et OSS). L’établissement dispose d’amphithéâtres, d’espaces modulables à souhait, de salles toutes équipées ou encore de cafétérias et d’espaces détentes afin de mettre les étudiants dans des conditions de travail optimales.
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="http://www.epsi.fr/candidature-2/">Inscrivez-vous en ligne</a>
          </div>
        </div>
      </div>
    </section>

        <!-- ************************************* start section : #formulaire (Trouver ma formation) ****************************************** -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Trouver ma formation</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Quel est votre niveau d'étude ?</h3>
                  <select id="niveauEtude" class="form-control">
                    <option ></option>
                    <option value="Bac">Bac</option>
                    <option value="BTS">BTS</option>
                    <option value="Bac + 4">Bac + 4</option>
                  </select>
            </div>
          </div>
          <div id="typeContract" class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Quel type du contrat?</h3>
              <select id="typeContract" class="form-control">
                <option ></option>
                <option>Initial</option>
                <option>Alternance</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Quel secteur aimeriez vous ?</h3>
              <select id="secteur" class="form-control">
                <option ></option>
                <option>Développement</option>
                <option>Réseaux</option>
              </select>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">choisissez une fourchette de prix</h3>
              <select id="salaire" class="form-control">
                <option ></option>
                <option>(20K€-25K€)</option>
                <option>(30K€-35K€)</option>
                <option>(35K€-40K€)</option>
              </select>
            </div>
          </div>
        </br>
        </br>
        </br>
        </br>
        </div>
        <!-- ************************************* END section : #formulaire (Trouver ma formation) ****************************************** -->


        <!-- ************************************* Button lancement de la requette + modal ****************************************** -->

                 <button id="buttonR" type="button" class="btn btn-primary btn-search btn-xl js-scroll-trigger" >
                    Lancer la recherche
                  </button>


        <!--**************************************************************** start Modal resultat 1 **************************************************************** -->
        <div class="modal fade" id="resultat1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resultat">cela peut vous intéresser</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="modal1" class="modal-body">
                <a target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/"> <p> * BTS SIO – SERVICES INFORMATIQUES AUX ORGANISATIONS</p> </a>
                <p>Le BTS Services Informatiques aux Organisations – BTS SIO est proposé aux titulaires d’un baccalauréat technologique STG et STI, d’un baccalauréat général (S, ES) ou d’un baccalauréat professionnel (SEN).
                Le BTS Services Informatiques aux Organisations est un diplôme d’État de niveau Bac+2 qui peut se préparer à l’EPSI tout en suivant la formation bachelor Informatique directement après le Bac. Le BTS SIO permet de développer des connaissances théoriques et techniques dans le domaine des Services Informatiques aux organisations.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-xl js-scroll-trigger" data-dismiss="modal">Close</button>
                <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/">Postuler !</a>

              </div>
            </div>
          </div>
        </div>
        <!--**************************************************************** End Modal resultat 1 **************************************************************** -->

        <!--**************************************************************** start Modal resultat 2 **************************************************************** -->
        <div class="modal fade" id="resultat2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resultat">cela peut vous intéresser</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="modal1" class="modal-body">
                <a target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/"> <p> * BTS SIO – SERVICES INFORMATIQUES AUX ORGANISATIONS</p> </a>
                <p>Le BTS Services Informatiques aux Organisations – BTS SIO est proposé aux titulaires d’un baccalauréat technologique STG et STI, d’un baccalauréat général (S, ES) ou d’un baccalauréat professionnel (SEN).
                Le BTS Services Informatiques aux Organisations est un diplôme d’État de niveau Bac+2 qui peut se préparer à l’EPSI tout en suivant la formation bachelor Informatique directement après le Bac. Le BTS SIO permet de développer des connaissances théoriques et techniques dans le domaine des Services Informatiques aux organisations.</p>

              </div>
              <div id="modal1" class="modal-body">
                <a target="_blank" href="http://www.epsi.fr/programmes/bachelor-informatique/"> <p> * BACHELOR INFORMATIQUE – BAC +3</p> </a>
                <p>L’EPSI propose pour les trois premières années un Bachelor informatique  préparant à un titre de niveau II (Bac + 3 ) enregistré au RNCP.
                  A partir de la troisième année, les apprenants peuvent choisir de poursuivre leur formation en initial ou en alternance.
              </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-xl js-scroll-trigger" data-dismiss="modal">Close</button>
                <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/">Postuler !</a>

              </div>
            </div>
          </div>
        </div>
        <!--**************************************************************** End Modal resultat 2 **************************************************************** -->

        <!--**************************************************************** start Modal resultat 3 **************************************************************** -->
        <div class="modal fade" id="resultat3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resultat">cela peut vous intéresser</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="modal1" class="modal-body">
                <a target="_blank" href="http://www.epsi.fr/programmes/ingenierie-informatique/"> <p> * INGÉNIERIE INFORMATIQUE – BAC +5</p> </a>
                <p>Les deux dernières années de l’EPSI préparent à un titre de niveau I (Bac+5) « Expert en Informatique et Système d’Information » certifié par le RNCP.
                    Les apprenants peuvent choisir de poursuivre leur formation en initial ou en alternance.
                </p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-xl js-scroll-trigger" data-dismiss="modal">Close</button>
                <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="http://www.epsi.fr/programmes/ingenierie-informatique/">Postuler !</a>

              </div>
            </div>
          </div>
        </div>
        <!--**************************************************************** End Modal resultat 3 **************************************************************** -->


        <!--**************************************************************** start Modal General **************************************************************** -->
        <div class="modal fade" id="general" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resultat">Il n'y a aucun résultat pour cette recherche</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="modal1" class="modal-body">
                <a target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/">
                  <p >aller vers le site de L'epsi</p>
                </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-xl js-scroll-trigger" data-dismiss="modal">Close</button>
                <a class="btn btn-light btn-xl js-scroll-trigger" target="_blank" href="http://www.epsi.fr/programmes/bts-sio-services-informatiques-aux-organisations/">Faire un tour à l'epsi !</a>

              </div>
            </div>
          </div>
        </div>
        <!--**************************************************************** End Modal General **************************************************************** -->



      <!-- ***************************************************************** start game modal *********************************************************** -->
        <div class="modal fade" id="ModalJeu" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Un petit challenge pour commencer ?</h5>
              </div>
              <div id="modal1" class="modal-body">
              <p data-height="600" data-theme-id="dark" data-slug-hash="yoVZYN" data-default-tab="result" data-user="christhebarbarian" data-pen-title="Tic Tac Toe" class="codepen"></p>
              <script id="game" async src="https://static.codepen.io/assets/embed/ei.js"></script>
              </div>
              <div class="modal-footer">
                <button id="skip" type="button" class="btn btn-secondary" >Skip</button>
                <button id="GameModalButton" type="button" class="btn btn-primary" data-dismiss="modal">Decouvrire le site !</button>
              </div>
            </div>
          </div>
        </div>
        <!--**************************************************************** End game modal **************************************************************** -->


          <!--********************************************************* start Modal Incubateur *********************************************************-->
              <div class="modal fade" id="Incubateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Salle dynamique et modulable à souhait</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <iframe id="ado-25996" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-25996").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/25996?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal Incubateur *********************************************************-->



              <!--********************************************************* start Modal salle *********************************************************-->
              <div class="modal fade" id="salle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Salle classique de cours</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <iframe id="ado-25998" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-25998").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/25998?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal salle *********************************************************-->


              <!--********************************************************* start Modal entrée *********************************************************-->
              <div class="modal fade" id="entrée" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Le campus HEP accueille 10 écoles</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <iframe id="ado-25999" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-25999").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/25999?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal entrée *********************************************************-->


              <!--********************************************************* start Modal Acceuil *********************************************************-->
              <div class="modal fade" id="acceuil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Le hall d’accueil du campus HEP</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <iframe id="ado-26001" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-26001").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/26001?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal Acceuil *********************************************************-->


              <!--********************************************************* start Modal cafette *********************************************************-->
              <div class="modal fade" id="cafette" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Salle cafétéria avec machines et un espace étente</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <iframe id="ado-26003" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-26003").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/26003?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal cafette *********************************************************-->


              <!--********************************************************* start Modal Infothèque *********************************************************-->
              <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Salle culturelle pluridisciplinaire</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <iframe id="ado-26012" src="about:blank" frameborder="0" width="480" height="356" webkitAllowFullScreen="1" mozallowfullscreen="1" allowFullScreen="1"></iframe><script type="text/javascript">document.getElementById("ado-26012").setAttribute("src", "//www.vroptimal-3dx-assets.com/content/26012?player=true&autoplay=true&referer=" + encodeURIComponent(window.location.href));</script><script type="text/javascript" src="//remote.vroptimal-3dx-assets.com/scripts/vroptimal.js"></script>
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--********************************************************* End Modal Infothèque *********************************************************-->
      </div>
    </section>

    <!-- ************************ start section : #Activités (les evenement, ect...) ***************************** -->

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters ">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#Incubateur">
              <img class="img-fluid" src="img/portfolio/thumbnails/incub.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Incubateur
                  </div>
                  <div class="project-name">
                    Salle dynamique et modulable à souhait
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#salle">
              <img class="img-fluid" src="img/portfolio/thumbnails/salle.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Salle de cours
                  </div>
                  <div class="project-name">
                    Salle classique de cours
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#entrée">
              <img class="img-fluid" src="img/portfolio/thumbnails/fac1.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    L'Entrée du campus
                  </div>
                  <div class="project-name">
                    Le campus HEP accueille 10 écoles
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#acceuil">
              <img class="img-fluid" src="img/portfolio/thumbnails/acceuil.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    L'Acceuil
                  </div>
                  <div class="project-name">
                    Le hall d’accueil du campus HEP
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#cafette">
              <img class="img-fluid" src="img/portfolio/thumbnails/caf.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                  la cafétéria
                  </div>
                  <div class="project-name">
                    Salle cafétéria avec machines et un espace détente
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" data-toggle="modal" data-target="#info">
              <img class="img-fluid" src="img/portfolio/thumbnails/info.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Salle info technique
                  </div>
                  <div class="project-name">
                    Salle culturelle pluridisciplinaire
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- ************************ End section : #Activités (les evenement, ect...) ***************************** -->


    <!-- ************************* Start EPSI google Street View *************************** -->
          <section id="contact">
          <div class="container">
            <div style="text-align:center;width:480px;">
              <iframe src="https://www.google.com/maps/embed?pb=!4v1538556421596!6m8!1m7!1sF84JIx6Iaa2JJV9n-Ax0Dw!2m2!1d48.8873912251981!2d2.237668148062202!3f132.52881092499086!4f4.639594727250071!5f0.7820865974627469" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </section>
        <!-- ************************* end EPSI google Street View *************************** -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script src='javascripts/script.js'></script>
  </body>
</html>
